
<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= title %></title>
    <link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" media="screen">
    <%-stylesheets%>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <section>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span2">
              <img src="/img/logo.png" />
              <!--Sidebar content-->
              <% if (!user) { %>
                  <a href="/auth/google">Sign In with Google</a>
              <% } else { %>
                  <p>Welcome <%= user.name %></p>
                  <ul>
                      <li><a href="/logout">Logout</a></li>
                  </ul>
              <% } %>
            </div>
            <div class="span10">
              <div class="row-fluid">
                  <div class="offset4 span4"></div>
              </div>
              <!--Body content-->
              <%- body %>
            </div>
          </div>
        </div>
    </section>
    <footer>
        <%-blocks.footer%>
    </footer>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/libs/jqplot/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="/libs/jqplot/jqplot.pieRenderer.min.js"></script>
    <script type="text/javascript" src="/libs/jqplot/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/libs/jqplot/jqplot.highlighter.min.js"></script>
    <script type="text/javascript" src="/libs/jqplot/jqplot.cursor.min.js"></script>
    <%-scripts%>
  </body>
</html>


