<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" >
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Crash Reports</title>
		<script type="text/javascript" language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
		<script type="text/javascript" language="javascript">
	function setStatusAndGo(iid, stat, url) {
		$.get("/ajax.php", { action: "update_status", status: stat, issue_id: iid }, function() {
			document.location=url;
		});
	}
		</script>
		<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
		<script language="javascript" type="text/javascript" src="/dist/jquery.jqplot.min.js"></script>

<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= title %></title>
    <link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/style.css" rel="stylesheet" media="screen">
    <%-stylesheets%>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url() %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= title %>" />
    <meta property="og:description" content="<%= title %>" />
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <section>
        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span2">
              <img src="/img/logo.png" />
              <!--Sidebar content-->
              <% if (!user) { %>
                  <a href="/auth/google">Sign In with Google</a>
              <% } else { %>
                  <p>Welcome <%= user.name %></p>
                  <ul>
                      <li><a href="<%= url('/user/new_cat') %>">Upload New Cat</a></li>
                      <li><a href="<%= url('/logout') %>">Logout</a></li>
                  </ul>
              <% } %>
            </div>
            <div class="span10">
              <div class="row-fluid">
                  <div class="offset4 span4"></div>
              </div>
              <!--Body content-->
              <%- body %>
            </div>
          </div>
        </div>
    </section>
    <footer>
        <%-blocks.footer%>
    </footer>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/libs/jqplot/jqplot.pieRenderer.min.js"></script>
    <script type="text/javascript" src="/libs/jqplot/jqplot.dateAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/libs/jqplot/jqplot.highlighter.min.js"></script>
    <script type="text/javascript" src="/libs/jqplot/jqplot.cursor.min.js"></script>
    <%-scripts%>
  </body>
</html>


